<div>
    <div class="container-fluid border">
        <h1>First App of Angular By Piyush Agrawal</h1>
    </div>
<!--    <div style="width: 100px; height: 100px" [@divState]="state">-->

<!--    </div>-->
    <div class="d-flex m-3 border">
        <div class="d-flex flex-column m-3">
            <ul class="list-group">
                <li class="list-group-item " *ngFor="let user of userData">
                    <a>{{user.Name}}</a></li>
            </ul>
        </div>
        <div class="form-group">
            <label class="form-check-label">Add Item</label>
            <input class="form-control" type="text" #Item>
            <button class="btn btn-primary" (click)="addItemToItemList(Item.value)">Add Item</button>
            <button class="btn btn-primary btn-danger" (click)="removeItem(Item.value)">Remove Item</button>
        </div>
    </div>
    <!--  <div class="col-lg-5">-->
    <!--    <app-game-control></app-game-control>-->
    <!--  </div>-->
    <div class="col-lg-12">
        <div *ngIf="!spinner" class="m-auto" >
            <app-spinner></app-spinner>
        <p *ngIf="loadedData.length < 1 && spinner">No Post availabel</p>
        </div>
        <div class="d-flex row col-lg-12 justify-content-center " *ngIf="loadedData.length >=1 && spinner">
            <div class="col-lg-3 col-md-8 col-sm-12 m-3 border lodadedData " *ngFor="let data of loadedData">
                    <p class="text-white font-weight-bold">ID: {{data.id}}</p>
                    <p class="text-white">Name: {{data.username}}</p>
                    <p class="text-white">Email: {{data.email}}</p>
            </div>
        </div>
    </div>
</div>


