<div class="d-flex justify-content-center align-items-center">
    <div class="col-lg-5">
        <h1>Reactive Form In Angular</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label class="form-check-label">Project Name</label>
                    <input class="form-control" type="text" formControlName="projectName" id="projectName"
                           name="projectName">
                    <span class="text-danger"
                          *ngIf="!signUpControls.projectName.valid && signUpControls.projectName.touched">Invalid Project Name</span>
                </div>
                <div class="form-group">
                    <label class="form-check-label">Name</label>
                    <input type="text"
                           class="form-control"
                           formControlName="username"
                           id="username" required
                           name="username">
                    <!--                <span   *ngIf="signUpForm.controls.username.value"-->
                    <!--                      class="text-danger">Please enter valid name</span>-->
                    <span class="text-danger"
                          *ngIf="!signUpControls.username.valid && signUpControls.username.touched">
                    This field is required
                    </span>


                </div>
                <div class="form-group">
                    <label class="form-check-label">Mail</label>
                    <input type="email" class="form-control" id="useremail"
                           formControlName="email" name="useremail">
                    <span class="text-danger"
                          *ngIf="!signUpControls.email.valid && signUpControls.email.touched">
                    Please Enter valid email</span>
                </div>
                <div class="form-group">
                    <label class="form-check-label">Password</label>
                    <input type="password" class="form-control" id="password"
                           formControlName="password" name="userpassword">
                </div>
            <span class="text-danger"
                  *ngIf="!signUpControls.password.valid && signUpControls.password.touched">
                Please enter valid Password</span>
                <div>
                    <label class="form-check-label">Select one option</label>
                    <select class="form-control" formControlName="selectValue">
                        <option value="Stable" >Stable</option>
                        <option value="Critical">Critical</option>
                        <option value="Finished">Finished</option>
                    </select>
                </div>


                <div class="form-group d-flex flex-column">
                    <p>Gender</p>
                    <label class="form-check-label">
                        <input type="radio" value="Male"
                               formControlName="gender"
                               name="gender"> Male</label>

                    <label class="form-check-label">
                        <input type="radio" value="Female"
                               formControlName="gender"
                               name="gender"> FeMale</label>

                    <label class="form-check-label">
                        <input type="radio" value="Other"
                               formControlName="gender"
                               name="gender"> Other</label>
                </div>
                <div class="form-group" formArrayName="hobbies">
                    <h4>Your Hobbies</h4>
                    <button class="btn btn-primary" type="button" on-click="onAddHobby()">Add Hobby</button>
                    <div class="form-group" *ngFor="let hobbycontrol of getControls() ; let i =index">
                        <input type="text" [formControlName]="i">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">Submit</button>
                </div>
        </form>

    </div>
</div>
