<div class="position-relative  d-flex  flex-column justify-content-center align-items-center">
    <div class="card box top-card" >
        <div class="card-body">
            <img class="card-img-top img-height spinner-border-sm" [src]="image" alt="Card image cap">
            <h5 class="card-title">Welcome To PN Pvt. Ltd.</h5>
            <p class="card-text">
                Prem Narayan pvt ltd comapany is an luanched by Piyush Agrawal. Piyush Agrawal is an CEO of Prem Narayan
                Pvt. ltd.
            </p>
            <a class="btn btn-success" (click)="animation()">
                <span id="arrow" class="carousel-control-prev-icon button-icon-rotate"></span></a>
        </div>
    </div>
    <div class="card bottom-card " id="bottomCard">
        <div class="card-body">
            <p class="card-title">Hello Mr Piyush</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>
